<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BlockChain</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- /static/libraries CSS Files -->
  <link href="/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/static/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>




<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
<!--         <h1><a href="#intro" class="scrollto"></a></h1>
 -->        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="/static/img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="sellerhome">Home</a></li>
          <li><a href="sellermanageproduct">Manage Product</a></li>
          <li><a href="selleraddmoneytowallet">Add wallet</a></li>
          <li><a href="sellerviewbooking">View Booking</a></li>
          <li><a href="/">Logout</a></li>

         <!--  <li class="menu-has-children"><a href="">Register</a>
            <ul>
              <li><a href="sellerregister">Seller</a></li>
              <li><a href="userregister">User</a></li>
                          </ul>
          </li>
 -->        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

<style type="text/css">
  .table{
    color: white;
  }
  .h1{
    color: white;
  }
</style>